body {
    margin: 0;
    padding: 0;
}

#index {
    width: 100%;
    min-height: 150vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("img/background01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#index #avatar {
    background-color: black;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}

#index #avatar_gif {
    width: 100%;
}