body {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

h5 {
    margin: 0;
}

#header .navbar {
    background-color: rgba(0, 0, 0, 0.404);
    --bs-navbar-color: white;
    --bs-navbar-brand-color: white;
}

#brand {
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3;
    color: #fdfdfe;
    font-size: 20px;
}

#toggler {
    background-image: url("img/menu.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.navbar_nav {
    list-style: none;
    display: flex;
}

.navbar_item {
    color: #fdfdfe;
    transition: 0.5s;
}

.navbar_item:hover {
    text-shadow: 0px 0px 5px #b393d3, 0px 0px 10px #b393d3, 0px 0px 10px #b393d3, 0px 0px 20px #b393d3;
    color: #fdfdfe;
}

.dropdown-menu {
    background-color: rgba(0, 0, 0, 0.404);
}

.dropdown-item {
    color: white;
}

#index {
    width: 100%;
    min-height: 150vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("img/background01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#index #avatar {
    background-color: black;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
}

#index #avatar_gif {
    width: 100%;
}

#index #button {
    border-width: 3px;
    border-color: white;
    border-style: solid;
    width: 8rem;
    height: 4rem;
    color: white;
    transition: 1.0s;
}

#index #button:hover{
    border-width: 3px;
    border-color: white;
    border-style: solid;
    box-shadow: 0 0 30px #b393d3;
    background-color: black;
}

#About_me {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("img/background01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white;
}

#About_me #content{
    background-color: rgba(0, 0, 0, 0.7);
}